header{
    background-color: green;
    height: 90px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}    
body{
    background-color: rgb(173, 167, 167);
    margin: 0;
}
.libertadores {
   color: #4caf50;
}
.sulamericana {
    color: #ff9800;
}
.rebaixamento {
   color: #f44336;
}
td{
    border-top: 1px solid #F5EBDC;
    text-align: center;
    padding: 0px 15px 0px 15px;
   
}
thead {
    color: rgb(78, 75, 75);
    border: solid 1px white;
}
th{
     border: 1px solid #F5EBDC;
    text-align: center;
    padding: 5px; 
}
.time {
        text-align: left;
}
#tabela{
    max-width:  1330px;
    margin: 0 auto;
    padding: 30px;
    border: 5px #f44336;
    
}
table {
    background-color: white;
    padding: 10px;
    color: grey;
    border-collapse: collapse;
    margin: auto;
    border: solid 1px #F5EBDC;
    border-radius: 8px;
    
}
.rodape{
    background-color: white;
    border: 1px;
    border-radius: 8px;
    margin: 0px 40px 0px 40px;
}
.legenda{
    color: gray;
    display: flex;
    margin: 0px 15px 15px 15px;
    justify-content: center;
    gap: 25px;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.red {
    color: red;
}